<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>

<body>
    <img -------- >
    <h1>Sign Up</h1>
    <form action = "/dashboard" method = "post"> <!--flask will need to define the / route-->
        <label>Username
            <input username = "username"/>
        </label>
        <br>
        <label>Password
            <input password = "password"/>
        </label>
        <br>
        <label>Confirm Password
            <input password = "password"/>
        </label>
        <br>
        <legend>What grade are you in?</legend>
        <label><input type = "radio" name = "grade" value = "4"/>4</label>
        <label><input type = "radio" name = "grade" value = "5"/>5</label>
        <label><input type = "radio" name = "grade" value = "6"/>6</label>
        <br>
        <button type = "submit">Sign Up</button>
    </form>
</body>

<footer>
    <p>add menu links</p>
</footer>

</html>